<div id="products_app">
<h1>Editing product</h1>

<%= render 'form' %>


<%= link_to 'Show', @product %>
<%= link_to 'Back', products_path %>

<h1>Listing products via Backbone</h1>

<table id="product_table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Image url</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
</table>

</div>

<script id="product_template" type="text/html">
<td>{{title}}</td>
<td>{{description}}</td>
<td>{{image_url}}</td>
<td>{{price}}</td>
<td>{{quantity}}</td>
</script>


